.about {
    padding: 2.5em;
    //background-color: var(--main-bg-color);
    //color: var(--secondary-color);
    margin: auto;
    height: 100%;

    .back-button{
        display: block;
        float: left;
    }

    .tech {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        font-size: 1.1em;
        .tech-item{
            text-align: left;
        }
        .logo{
            width: 1.5em;
            height: 1.5em;
        }
    }
    a{
        color: #E5Bd64;
    }
    a:hover{
        color: #B76B14;
    }

}

