.sudoku-board {
    display: grid;
    margin: 25px auto;
    justify-items: center;
    overflow: hidden;
    position: relative;
    
    //width: 90%;
    //margin: 0 auto;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    color: #000000;

    .selected-cell {
        background-color: blue;
    }

   

}

.sudoku-board:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-image: url("../../assets/wood_patter.jpg");
    background-size: cover;
    z-index: -1;
}


