.difficulty-selector {
    display:flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
    width: 45%;

    h1 {
        padding: 10%;
        place-content: center;
    }
    button {
        font-size: 2em;
        background-color: transparent;
        border: none;
    }
    
    
}

.difficulty-selector:hover{
    color: #994922;
}