.sudoku-game {
    //background-color: var(--main-bg-color);
    //color: var(--secondary-color);
    font-size: 12px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .back-button {
        position: relative;
        top: 3px;
        left: 3px;
    }

}