.board-cell {
    border: 1px solid #000000;
    div{
       padding: 25% 0; 
       font-size: 1.5em;
    }
    .pencil-matrix{
        font-size: 0.4em;
        display: grid;
        grid-template-areas: 
            "1 2 3"
            "4 5 6"
            "7 8 9";
    }

    
}

@media only screen  and (min-device-width: 640px) {
    .board-cell{
        width: 64px;
        height: 64px;
        font-size: large;
    }
  }
@media only screen  and (min-device-width: 320px) and (max-device-width: 480px) {
    .board-cell{
        width: 32px;
        height: 32px;
        font-size: smaller;
    }
  }

.invalid {
    color: rgb(245, 58, 58);
    font-weight: bold;
}

.original{
    color: #2faa5e;
    font-weight: bold;
}

.isSelected {
    div {
        background-color: rgb(65, 170, 255);
        border-radius: 25px;
        margin: auto 0;
        height: 95%;
        width: 95%;
        color: #FFFFFF;
        font-weight: bold;
    }
    

}