.board-cell {
    width: 24px;
    height: 24px;
    padding: 0 10%;
    div{
       padding: 0 0; 
       font-size: 1.5em;
    }
    .pencil-matrix{
        font-size: 0.4em;
        display: grid;
        grid-template-areas: 
            "1 2 3"
            "4 5 6"
            "7 8 9";
    }

    
}
.invalid {
    color: red;
}

.original{
    color: var(--secondary-color);
}

.isSelected {
    background-color: blue;
}