.homepage {
    background-color: #5AABD6;
    color: #505215;
    font-size: 18px;
    height: 100%;
    display: grid;
    padding: 50px;
    grid-template-areas: 
        "play play . ."
        "play play user user"
        "diff diff diff diff"
        ". score . about";
    
    



}